/target/
/data/
.idea
*.egg-info
*.iml
*.class
*.trecrun
*.jar
*.irene
*.jl
dependency-reduced-pom.xml
/galago/target
/venv/
.classpath
.project
.settings
.vscode
/robust
trash
*.tsv
__pycache__
.mypy_cache
/queries
build/
/dist/
.gradle
